<!-- The core Firebase JS SDK is always required and must be listed first -->
script(src="https://www.gstatic.com/firebasejs/7.9.1/firebase-app.js")
<!-- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->

script.
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyDzHbguzFcr9OsQ-np6EUJbJELtTqWq0r4",
        authDomain: "zoi-homepage.firebaseapp.com",
        databaseURL: "https://zoi-homepage.firebaseio.com",
        projectId: "zoi-homepage",
        storageBucket: "zoi-homepage.appspot.com",
        messagingSenderId: "142212291166",
        appId: "1:142212291166:web:e12d56ed6cc6a460"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
footer
    div.footer_copyright Created and maintained by ZOI.
