header
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        img(src="/assets/img/ZOI_64x64.png", alt="ZOI", width="40px", style="margin-right:10px;")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href="/index.html") Home
                li.nav-item
                    a.nav-link(href="/Server/server.html") Server
                li.nav-item
                    a.nav-link(href="/Youtube/youtube.html") Youtube
                li.nav-item
                    a.nav-link(href="/Mods/mods.html") Mods
                li.nav-item
                    a.nav-link(href="/Computer/computer.html") Computer
                li.nav-item
                    a.nav-link(href="/ContactMe/contact_me.html") Contact Me