<!DOCTYPE html>
html(lang="ja")
    head(prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#")
        include assets/pages/head.pug
        include OGP.pug
        script(src="/assets/js/changelog/changelog.js")
        meta(name="description" content="パソコンとゲームをこよなく愛する「ZOI」のページです。気軽に見ていってください。")
        meta(name="robots" content="index,follow")
        title Home | ZOI
    body
        include assets/pages/header.pug
        script.
            nav_active("Home");
        .main
            .main-text
                h1.stress.center(style="line-height:150px;") ZOIZOI.NET
                h2.stress 更新とお知らせ
                ul#changelog

                h2.stress 自己紹介
                hr
                p 自作パソコン・プログラミング・ゲームをしている人です。<br>Discord鯖やってます。よかったら入ってください。
                button.btn.btn-primary(type="button" style="margin-bottom:25px;") Discord鯖


        include assets/pages/footer.pug