// OGP
<meta property="og:url" content="http://zoizoi.net/" />
<meta property="og:title" content="Home - zoizoi.net" />
<meta property="og:type" content="website">
// or "article"
<meta property="og:description" content="パソコンとゲームをこよなく愛する「ZOI」のページです。気軽に見ていってください。" />
<meta property="og:image" content="/assets/image/favicon.svg" />
// Twitter
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@ZOI_channel" />
// Windows10
<meta name="msapplication-TileImage" content="/assets/image/favicon.svg" />
<meta name="msapplication-TileColor" content="#00ff00"/>
