doctype html
html(lang="ja")
    head
        include parts/head.pug
        script(type="text/javascript" src="/assets/js/jquery/jquery-3.4.1.min.js")
        script(type="text/javascript" src="/assets/js/server/server_jQuery.js")
        script(type="text/javascript" src="/assets/js/server/buttons.js")
        title ZOI-server
    body
        include parts/header.pug
        div.main
            div.server-top Play&nbsp;&nbsp;Multiplayer
            div.servers
                div.server
                    div.server_favicon#server_favicon_1
                        img.favicon(src="/assets/img/server/defult.png")
                    .server_lines
                        .server_line.server_line_1 zoizoi.ddo.jp:1000
                            .server_members#server_line_1-1
                                img.radio(src="/assets/img/server/anim/anim.gif" align="right")
                        .server_line.server_line_2#server_line_1-2 aaaaa
                        .server_line.server_line_3#server_line_1-3 bbbbb
                div.server
                    div.server_favicon#server_favicon_2
                        img.favicon(src="/assets/img/server/defult.png")
                    .server_lines
                        .server_line.server_line_1 zoizoi.ddo.jp:1000
                            .server_members#server_line_2-1
                                img.radio(src="/assets/img/server/anim/anim.gif" align="right")
                        .server_line.server_line_2#server_line_2-2 aaaaa
                        .server_line.server_line_3#server_line_2-3 bbbbb
                div.server
                    div.server_favicon#server_favicon_3
                        img.favicon(src="/assets/img/server/defult.png")
                    .server_lines
                        .server_line.server_line_1 zoizoi.ddo.jp:1000
                            .server_members#server_line_3-1
                                img.radio(src="/assets/img/server/anim/anim.gif" align="right")
                        .server_line.server_line_2#server_line_3-2 aaaaa
                        .server_line.server_line_3#server_line_3-3 bbbbb
            .server-bottom
                .server_buttons
                    .server_button
                        .server_button_L(onclick="JoinServer()") Join&nbsp;&nbsp;Server
                        .server_button_L(onclick="DirectConnect()") Direct&nbsp;&nbsp;Connect
                        .server_button_L(onclick="AddServer()") Add&nbsp;&nbsp;server
                    br
                    .server_button
                        .server_button_S(onclick="Edit()") Edit
                        .server_button_S(onclick="Delete()") Delete
                        .server_button_S(onclick="Refresh()") Refresh
                        .server_button_S(onclick="Cancel()") Cancel