doctype html
html(lang="ja")
    head
        include parts/head.pug
        title ZOI-Youtube
    body
        include parts/header.pug
        .main
            .main-text
                h1 動画
                hr
                h2 シリーズ
                .space
                    h3 Logesticsで世界統一
                    .space.leftbar
                        p Minecraft1.7.10で、大量の工業系Modを入れて遊ぶシリーズです。
                        details
                            summary.h4 Mod一覧&nbsp;(2019/12/19更新)
                            table
                                tr.textLeft.textSmall
                                    th mod名
                                    th バージョン
                                tr.textLeft.textSmall
                                    th Additionalpipes
                                    th &nbsp;4.7.7
                                tr.textLeft.textSmall
                                    th AdvancedSolarPanel
                                    th &nbsp;3.5.1
                                tr.textLeft.textSmall
                                    th Bamboo
                                    th &nbsp;2.6.8.5
                                tr.textLeft.textSmall
                                    th BedrockLayer
                                    th &nbsp;1.0.9
                                tr.textLeft.textSmall
                                    th Buildcraft
                                    th &nbsp;7.1.23
                                tr.textLeft.textSmall
                                    th CutAllSMP
                                    th &nbsp;2.5.0
                                tr.textLeft.textSmall
                                    th CodeChickenCore
                                    th &nbsp;1.7.10-1.0.7.47-universal
                                tr.textLeft.textSmall
                                    th CoFHCore
                                    th &nbsp;[1.7.10]3.1.4-329
                                tr.textLeft.textSmall
                                    th CompactEngine
                                    th &nbsp;1.7.10-7.1.14-2
                                tr.textLeft.textSmall
                                    th CompactSolars
                                    th &nbsp;1.7.10-4.4.41.316-universal
                                tr.textLeft.textSmall
                                    th CraftGuide
                                    th &nbsp;1.7.1.0-forge
                                tr.textLeft.textSmall
                                    th DigAllSMP
                                    th &nbsp;2.3.0
                                tr.textLeft.textSmall
                                    th EnderIO
                                    th &nbsp;1.7.10-2.2.8.381
                                tr.textLeft.textSmall
                                    th ExtraTanks
                                    th &nbsp;for-7.1.14
                                tr.textLeft.textSmall
                                    th Industrialcraft-2
                                    th &nbsp;2.2.828-experimental
                                tr.textLeft.textSmall
                                    th InfinityChest
                                    th &nbsp;1.7.10-1.2.8
                                tr.textLeft.textSmall
                                    th Journeymap
                                    th &nbsp;1.7.10-5.1.4p2-unlimited
                                tr.textLeft.textSmall
                                    th LittleMaidMobX
                                    th &nbsp;1.7.x_0.1.3a
                                tr.textLeft.textSmall
                                    th Logisticspipes
                                    th &nbsp;0.9.3.132
                                tr.textLeft.textSmall
                                    th MineAllSMP
                                    th &nbsp;2.6.1
                                tr.textLeft.textSmall
                                    th MineFactoryReloaded
                                    th &nbsp;[1.7.10]2.8.2B1-201
                                tr.textLeft.textSmall
                                    th MultipleCamera
                                    th &nbsp;1.0.0
                                tr.textLeft.textSmall
                                    th OldMassFabricator
                                    th &nbsp;1.1.3
                                tr.textLeft.textSmall
                                    th OptiFine
                                    th &nbsp;1.7.10_HD_U_E7
                                tr.textLeft.textSmall
                                    th PEAA
                                    th &nbsp;1.5.3
                                tr.textLeft.textSmall
                                    th ProjectE
                                    th &nbsp;1.7.10-PE1.10.1
                                tr.textLeft.textSmall
                                    th ProjectRed
                                    th &nbsp;1.7.10-4.7.0pre12.95-Base
                                tr.textLeft.textSmall
                                    th ProjectRed
                                    th &nbsp;1.7.10-4.7.0pre12.95-Fabrication
                                tr.textLeft.textSmall
                                    th ProjectRed
                                    th &nbsp;1.7.10-4.7.0pre12.95-Integration
                                tr.textLeft.textSmall
                                    th ProjectRed
                                    th &nbsp;1.7.10-4.7.0pre12.95-Lighting
                                tr.textLeft.textSmall
                                    th ProjectRed
                                    th &nbsp;1.7.10-4.7.0pre12.95-Mechanical
                                tr.textLeft.textSmall
                                    th Railcraft
                                    th &nbsp;1.7.10-9.12.2.1
                                tr.textLeft.textSmall
                                    th SlashBlade
                                    th &nbsp;mc1.7.10-r87
                                tr.textLeft.textSmall
                                    th SpawnChecker
                                    th &nbsp;2.1.4.128
                                tr.textLeft.textSmall
                                    th StorageBox
                                    th &nbsp;3.0.5
                                tr.textLeft.textSmall
                                    th VisibleRayGenerator
                                    th &nbsp;1.7.10-4.9.2-3
                                tr.textLeft.textSmall
                                    th Waila
                                    th &nbsp;1.5.10_1.7.10
                                tr.textLeft.textSmall
                                    th WailaHarvestability
                                    th &nbsp;mc1.7.10-1.1.6
                                tr.textLeft.textSmall
                                    th Wawla
                                    th &nbsp;1.0.5.120
                                tr.textLeft.textSmall
                                    th WR-CBE
                                    th &nbsp;1.7.10-1.4.1.11-universal
                        h4 動画一覧(2019/12/19更新)
                        ul
                            li.log
                                span.date 2019/00/00
                                a(href="") Part1
                h2 使用した動画編集ソフト
                .space
                    h3 iMovie
                    .space.leftbar
                        ul
                            li.log
                                span.date 2019/00/00
                                a(href="") 
                            li &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⬇︎
                            li.log
                                span.date 2019/00/00
                                a(href="")
                    h3 DaVinci Resolve 16 無料版
                    .space.leftbar
                        ul
                            li.log
                                span.date 2019/00/00
                                a(href="") 
                            li &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⬇︎
                            li.log
                                span.date 2019/00/00
                                a(href="")
                    h3 YMM4
                    .space.leftbar
                        ul
                            li.log
                                span.date 2019/00/00
                                a(href="") 
                            li &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⬇︎
                            li.log
                                span.date 2019/00/00
                                a(href="")
                    h3 AviUtl100
                    .space.leftbar
                        ul
                            li.log
                                span.date 2019/00/00
                                a(href="") 新OP
                            li &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⬇︎
                            li.log
                                span.date 2019/00/00
                                a(href="") 
                    h3 YMM3 + AviUtl100
                    .space.leftbar
                        ul
                            li.log
                                span.date 2019/00/00
                                a(href="") 
                            li &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⬇︎
                            li.log &nbsp;&nbsp;&nbsp;&nbsp;現在
        include parts/footer.pug