doctype html
html(lang="ja")
    head
        include assets/pages/parts/head.pug
        title ZOI-トップページ
    body
        include assets/pages/parts/header.pug
        .main
            .main-text
                h1.stress.center 更新とお知らせ
                ul
                    li.log
                        span.date 2020/01/22
                        span Bootstrap導入
                    li.log
                        span.date 2019/12/19
                        span "Logecticsで世界統一"のModデータ更新
                    li.log
                        span.date 2019/11/11
                        span パソコン組んだ

                h1 自己紹介
                hr
                p 自作パソコン・プログラミング・ゲーム(主にMinecraft)をしている一般人。<br> ↓↓↓ 興味があればとりあえずこのDiscord鯖にGo! ↓↓↓
                a.button(href="https://discordapp.com/invite/tCg2q2j") →→→→→Discord鯖に参加する←←←←←

                h1 ZOIの活動一覧
                hr
                p 是非全てのページを訪れてみてください!
                .container
                    .row
                        .col-md-3
                        #carouselExampleIndicators.carousel.slide.col-12.col-md-6(data-ride="carousel")
                            ol.carousel-indicators
                                li(data-target="#carouselExampleIndicators" data-slide-to="0" class="active")
                                li(data-target="#carouselExampleIndicators" data-slide-to="1")
                                li(data-target="#carouselExampleIndicators" data-slide-to="2")
                                li(data-target="#carouselExampleIndicators" data-slide-to="3")
                            .carousel-inner(role="listbox")
                                .carousel-item.active.w-100
                                    img.d-block.w-100(src="/assets/img/logo/YouTube/YouTube.png" alt="YouTube" data-holder-rendered="true")
                                .carousel-item.w-100
                                    img.d-block.w-100(src="/assets/img/logo/Twitter/Twitter.png" alt="Twitter" data-holder-rendered="true")
                                .carousel-item.w-100
                                    img.d-block.w-100(src="/assets/img/logo/Discord/Discord.png" alt="Discord" data-holder-rendered="true")
                                .carousel-item.w-100
                                    img.d-block.w-100(src="/assets/img/logo/GitHub/GitHub.png" alt="GitHub" data-holder-rendered="true")
                            a.carousel-control-prev(data-target="#carouselExampleIndicators" role="button" data-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.sr-only Previous
                            a.carousel-control-next(data-target="#carouselExampleIndicators" role="button" data-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.sr-only Next
                        .col-md-3
        include assets/pages/parts/footer.pug