<!DOCTYPE html>
html(lang="ja")
    head
        include ../assets/page-parts/head.pug
        script(src="https://smtpjs.com/v3/smtp.js")
        script(src="/assets/js/contact/contact.js")
        title Contact Me
    body
    include ../assets/page-parts/header.pug
    .main
        .main-text
            h1.stress.center(style="line-height:150px;") メッセージを送る
            .container
                .row
                    .col-sm-3
                    form.col-sm-6
                        .form-group
                            label(for="ZOIsNameInput") 名前(返信用)
                            input.form-control#ZOIsNameInput(type="text" placeholder="○○ ○○")
                        .form-group
                            label(for="ZOIsEmailInput") メールアドレス(返信用)
                            input.form-control#ZOIsEmailInput(type="email" aria-describedby="emailHelp" placeholder="name@example.com")
                        .form-group
                            label(for="ZOIsTextValue")
                            textarea.form-control#ZOIsTextValue(rows="3" placeholder="こんにちは...")
                        button.btn.btn-primary(type="submit" onclick="ContactMeSubmit()") 送信
                    .col-sm-3
    include ../assets/page-parts/footer.pug