<!DOCTYPE html>
html(lang="ja")
    head
        include ../assets/page-parts/head.pug
        title Contact Me
    body
    include ../assets/page-parts/header.pug
    .main
        .main-text
            h1.stress.center(style="line-height:150px;") メッセージを送る
            .container
                .row
                    .col-sm-3
                    form.col-sm-6
                        .form-group
                            label(for="formGroupExampleInput") 名前(返信用)
                            input.form-control#formGroupExampleInput(type="text" placeholder="○○ ○○")
                        .form-group
                            label(for="exampleInputEmail1") メールアドレス(返信用)
                            input.form-control#exampleInputEmail1(type="email" aria-describedby="emailHelp" placeholder="name@example.com")
                        .form-group
                            label(for="exampleFormControlTextarea1")
                            textarea.form-control#exampleFormControlTextarea1(rows="3" placeholder="こんにちは...")
                        button.btn.btn-primary(type="submit" onclick="ContactMeSubmit()") 送信
                    .col-sm-3
    include ../assets/page-parts/footer.pug