header
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        img(src="/assets/image/ZOI_64x64.png" alt="ZOI" width="40px" style="margin-right:10px;")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.mr-auto
                li.nav-item#Home
                    a.nav-link(href="/") Home
                li.nav-item#Programming
                    a.nav-link(href="/Programming/") Programming
                //li.nav-item#Game
                    a.nav-link(href="/Game/") Game
                li.nav-item#ContactUs
                    a.nav-link(href="/ContactUs/") Contact Us