doctype html
html(lang="ja")
    head
        include ../assets/page-parts/head.pug
        title ZOI-Computer
    body
        include ../assets/page-parts/header.pug
        .main
            .main-text
                h1 パソコン
                hr
                h2 デスクトップ型
                .space
                    h3 メインPC(白)
                    .space.leftbar
                        p 初めて組んだ自作パソコンで、僕が持っている中で最も性能が高いです。<br>2019/11/11に組みました。よろしく。
                        .youtube
                            iframe(width="560" height="315" src="https://www.youtube.com/embed/Iz_If0BfX_E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                        details
                            summary.h4 部品一覧
                            .rounded(style="padding:5px;background-color:rgba(255, 255, 255, 0.5);")
                                table.table.table-sm.table-striped
                                    thead
                                        tr
                                            th 種類
                                            th 部品名
                                            th 購入価格(1個当たり)
                                            th 購入日
                                    tbody
                                        tr
                                            th OS
                                            td Windows 10 Home
                                            td 16190
                                            td 11/10
                                        tr
                                            th CPU
                                            td Core i7 9700K
                                            td 44860
                                            td 11/10
                                        tr
                                            th GPU
                                            td Palit GeForce RTX2060
                                            td 37004
                                            td 11/10
                                        tr
                                            th マザーボード
                                            td ASRock Z390 Extreme4
                                            td 19880
                                            td 11/10
                                        tr
                                            th SSD
                                            td Samsung 970EVO Plus 1TB
                                            td 27500
                                            td 11/10
                                        tr
                                            th メモリ
                                            td Corsair VENGERNCE LPX 16Gx2
                                            td 15950
                                            td 11/10
                                        tr
                                            th 電源
                                            td Corsair RX650x
                                            td 13728
                                            td 11/10
                                        tr
                                            th ケース
                                            td NZXT H510 White
                                            td 9980
                                            td 11/10
                                        tr
                                            th モニタ
                                            td ASUS VP228HE (x2)
                                            td 10590
                                            td 11/10
                                        tr
                                            th CPUクーラー
                                            td Scythe 虎徹 MarkII
                                            td 4158
                                            td 11/10
                                        tr
                                            th ケースファン
                                            td Scythe KAZE FLEX PWM (x2)
                                            td 999
                                            td 11/10
                                        tr
                                            th グリス
                                            td Kryonaut 1g
                                            td 1037
                                            td 11/10
                        details
                            summary.h4 周辺機器一覧
                            .rounded(style="padding:5px;background-color:rgba(255, 255, 255, 0.5);")
                                table.table.table-sm.table-striped
                                    thead
                                        tr
                                            th 種類
                                            th 部品名
                                            th 購入時の価格
                                            th 購入日
                                    tbody
                                        tr
                                            th OS
                                            td Windows 10 Home
                                            td 16,190
                                            td 11/10
                                        tr
                                            th CPU
                                            td Intel core i7 9700K
                                            td 
                                            td 11/10
                                        tr
                                            th GPU
                                            td NE62060S18J9-1160A
                                            td 
                                            td 11/10
                                        tr
                                            th マザーボード
                                            td ASRock Z390 Extreme4
                                            td 
                                            td 11/10
                                        tr
                                            th SSD
                                            td Samsung 970EVO Plus 1TB
                                            td 
                                            td 11/10
                                        tr
                                            th メモリ
                                            td Corsair CMK32GX4M2A2666C16
                                            td 
                                            td 11/10
                                        tr
                                            th 電源
                                            td Corsair CP-9020178-JP
                                            td 
                                            td 11/10
                                        tr
                                            th ケース
                                            td NZXT H510 ホワイト
                                            td 
                                            td 11/10
                                        tr
                                            th モニタ
                                            td ASUS VP228HE
                                            td 
                                            td 11/10
                                        tr
                                            th CPUクーラー
                                            td Scythe 虎徹 MarkII
                                            td 
                                            td 11/10
                                        tr
                                            th ケースファン
                                            td Scythe SU1225FD12M-RHP
                                            td 
                                            td 11/10
                                        tr
                                            th グリス
                                            td Kryonaut 1g
                                            td 
                                            td 11/10
                h2 ノート型
                    .space
        include ../assets/page-parts/footer.pug