@charset "UTF-8";
@font-face {
    font-family: 'Minecraft';
    font-display: swap;
    src: url('/assets/fonts/minecraft/minecraft_font.otf') format('opentype'), url('/assets/fonts/minecraft/minecraft_font.ttf') format('truetype');
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.Multi {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
}

.server {
    font-family: "Minecraft";
    font-size: 25px;
    line-height: 40px;
    color: white;
    width: 64%;
    height: 130px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    &s {
        padding-top: 126px;
        /*padding-bottom: 205px;*/
        width: 100%;
        height: 100%;
        background-image: url("/assets/img/dirt/black_dirt.png");
    }
    &_top {
        z-index: 1;
        font-family: "Minecraft";
        font-size: 25px;
        color: white;
        position: fixed;
        top: 56px;
        width: 100%;
        height: 40px;
        padding-top: 80px;
        background-image: url("/assets/img/dirt/brown_dirt.png");
        text-align: center;
        box-sizing: content-box;
    }
    &_bottom {
        font-family: "Minecraft";
        font-size: 22.5px;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 164px;
        background-image: url("/assets/img/dirt/brown_dirt.png");
    }
    &_favicon {
        width: 120px;
        height: 120px;
        margin: 5px;
        &s {
            width: 130px;
            height: 130px;
        }
        &_img {
            width: 120px;
            height: 120px;
        }
    }
    &_line {
        height: 40px;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: hidden;
        &s {
            width: calc(100% - 140px);
            margin: 5px;
        }
        &_1 {
            color: #ffffff;
        }
        &_2 {
            color: #aaaaaa;
            &_span {
                display: inline-block;
                padding-left: 100%;
                white-space: nowrap;
                animation: ScrollServerLine 15s linear infinite;
                @keyframes ScrollServerLine {
                    0% {
                        transform: translateX(0)
                    }
                    100% {
                        transform: translateX(-100%)
                    }
                }
            }
        }
        &_3 {
            color: #303030;
        }
    }
    &_members {
        height: 40px;
        /*!!!!!!!*/
        float: right;
        display: inline-table;
        text-align: right;
    }
    &_radio {
        height: 24px;
        margin: 8px;
    }
    &_loading {
        animation: ServerLoading 5s linear infinite;
        @keyframes ServerLoading {
            0% {
                .server_loading::before {
                    content: ".";
                }
            }
            33% {
                .server_loading::before {
                    content: "..";
                }
            }
            66% {
                .server_loading::before {
                    content: "...";
                }
            }
        }
    }
    &_button {
        display: inline-flex;
        &s {
            color: #ffffff;
            line-height: calc(50px - 3px * 2);
            margin-top: 6px;
            text-align: center;
        }
        &_S {
            background-color: #6f6f6f;
            margin: 10px 15px;
            width: 190px;
            height: 50px;
            border-top: 3px solid #ababab;
            border-left: 3px solid #ababab;
            border-right: 3px solid #565656;
            border-bottom: 3px solid #565656;
        }
        &_L {
            background-color: #6f6f6f;
            margin: 10px 10px;
            width: 270px;
            height: 50px;
            border-top: 3px solid #ababab;
            border-left: 3px solid #ababab;
            border-right: 3px solid #565656;
            border-bottom: 3px solid #565656;
        }
    }
}