ul {
  padding-left: 2.5vw;
  margin-left: 2.5vw; }

.main {
  margin-top: 56px;
  padding-bottom: 25px;
  background-image: url("/assets/img/dirt/white_dirt.png"); }
  .main-text {
    margin: 0 25px;
    padding: 25px 0; }

header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  header * {
    z-index: 2; }

footer {
  width: 100%;
  height: 75px;
  padding: 12.5px 2.5%;
  color: white;
  line-height: 50px;
  background-color: black; }
  @media (max-width: 576px) {
    footer {
      height: calc(25px + 50px + 10px + 24px);
      line-height: unset; } }

.footer_copyright {
  float: right;
  margin: 0; }
  @media (max-width: 576px) {
    .footer_copyright {
      float: none;
      text-align: center; } }

.social_icon {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px; }
  .social_icons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    @media (max-width: 576px) {
      .social_icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 220px;
        margin: 5px auto; } }

@media (max-width: 768px) {
  .youtube {
    position: relative; }
  .youtube::before {
    content: "";
    display: block;
    padding-top: 56.25%; }
  .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; } }

.space {
  margin-left: 2.5vw;
  padding-left: 2.5vw; }

.img-space {
  padding: 10px; }

.img-lang {
  -o-object-fit: scale-down;
  object-fit: scale-down;
  height: 175px;
  margin: 0 auto; }

.center {
  text-align: center; }

.stress {
  -webkit-filter: drop-shadow(2.5px 2.5px 0 #00000044);
  filter: drop-shadow(2.5px 2.5px 0 #00000044); }

.log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  /*width: 500px;*/ }
  .log_date {
    display: inline-block;
    width: 100px;
    height: 1em;
    margin: 0 10px;
    padding: 5px;
    text-align: center;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 15px;
    line-height: 1em;
    color: whitesmoke;
    background-color: grey;
    border-radius: 5px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .log_text {
    display: inline-block; }

.link-space {
  margin-left: 5px; }
