meta(cherset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
link(rel="stylesheet" href="/assets/css/ZOIs-CSS_0.0.3.css")
link(rel="stylesheet" href="/assets/css/style.css")
link(rel="stylesheet" href="/assets/css/server.css")
script(type="text/javascript" src="/assets/js/jquery/jquery-3.4.1.min.js")
script(type="text/javascript" src="/assets/js/server/server_1_jQuery.js")
script(type="text/javascript" src="/assets/js/server/buttons.js")