header
    ul.header
        li.header__item
            a.init-bottom(href="#") Activitys
            ul.header__level2
                li
                    a(href="/assets/pages/youtube.html") Youtube
                li
                    a(href="/assets/pages/mods.html") Mods
                li
                    a(href="/assets/pages/computer.html") Computer
        li.header__item
            a(href="/assets/pages/server.html") Server
        li.header__item
            a(href="/index.html") Home
        .header__img(style="background-image: url(/assets/img/ZOI_64x64.png);" alt="____")
            a(href="/index.html")