<!DOCTYPE html>
html(lang="ja")
    head
        include ../../assets/pages/head.pug
        title Programming-Java | ZOI
    body
        include ../../assets/pages/header.pug
        .main
            .main-text
                nav(aria-label="breadcrumb")
                    ol.breadcrumb
                        li.breadcrumb-item: a(href="/Programming/") Programming
                        li.breadcrumb-item.active(aria-current="page") Java
        include ../../assets/pages/footer.pug
