@charset "utf-8";

.header {
    height: 120px;
    width: 100%;
    box-shadow: 0 0 10px #dddddd;
    background-color: aliceblue;
    position: fixed;
    top: 0;
}
.header-logo {
    height: 100px;
    margin-top: 10px;
}
.header-left {
    float: left;
}
.header-right {
    float: right;
    line-height: 120px;
    color: black;
    margin-left: 0px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}