@charset "utf-8";

* a{
    text-decoration: none;
    color: black;
}

.tabs{
    padding: 25px 0px;
    color: black;
}
.tabs-card{
    margin-top: 10px;
}
.tabs-card-inner{
    display: flex;
    flex-wrap: wrap;
}
.tab-card{
    width: 20%;
    height: auto;
    padding: 25px 30px;
    background-color: #dbe0e4;
    border-radius: 7px;
    box-shadow: 1px 1px 4px #d2d4d6;
    text-align: center;
    margin: 20px;
}
.tab-image{
    width: 100%;
}
h2 {
    margin-top: 50px;
}