<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-143297596-4")
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-143297596-4');
<!-- Google AdSence -->
script(data-ad-client="ca-pub-4789224006125329" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")

meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
<!--favicon-->
link(rel="shortcut icon" href="/assets/favicon.svg" type="image/svg+xml ")
<!--jQuery-->
script(src="/assets/js/jquery/jquery-3.4.1.min.js")
<!--bootstrap-->
script(src="/assets/bootstrap-4.4.1-dist/popper.min.js")
link(rel="stylesheet" href="/assets/bootstrap-4.4.1-dist/css/bootstrap.css")
script(src="/assets/bootstrap-4.4.1-dist/js/bootstrap.js")
<!--CSS-->
link(rel="stylesheet" href="/assets/css/style.css")
link(rel="stylesheet" href="/assets/css/bootstrap.css")