<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-143297596-4")
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-143297596-4');


script(data-ad-client="ca-pub-4789224006125329" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
<!--link(rel="stylesheet" href="/assets/css/ZOIs-CSS_0.0.3.css")-->
link(rel="shortcut icon" href="/favicon.png" type="image/png")
script(src="/assets/bootstrap-4.4.1-dist/jquery-3.4.1.slim.min.js")
script(src="/assets/bootstrap-4.4.1-dist/popper.min.js")
link(rel="stylesheet" href="/assets/bootstrap-4.4.1-dist/css/bootstrap.css")
script(src="/assets/bootstrap-4.4.1-dist/js/bootstrap.js")
link(rel="stylesheet" href="/assets/css/style.css")
link(rel="stylesheet", href="/assets/css/bootstrap.css")