<!DOCTYPE html>
html(lang="ja")
    head
        include ../../../../assets/pages/head.pug
        script(src="/assets/js/code/code.js")
        link(rel="stylesheet" href="/assets/css/brog.css")
        link(rel="stylesheet" href="/assets/css/code.css")
        meta(name="robots" content="index,follow")
        title 必要なもの - HTML | ZOI
    body
        include ../../../../assets/pages/header.pug
        .main.background
            .main-text
                .blog-main
                    div
                        .date
                            i.fas.fa-sync
                            | &nbsp; 2020年3月5日
                        h1.title 必要なもの
                        .clear
                    hr
                    // img.blog-img(src="#" alt="___")
                    .blog-text
                        h2 必ず必要なもの
                        hr
                        .space
                            h3 パソコン
                            hr
                            p
                                | HTMLはパソコンで文字を打って作ります。
                                br
                                | なのでパソコンは必須ですが、計算などはしないので性能はあまり必要ありません。
                                br
                                | Windowsでも、Macでも、Linaxでも、なんでもいいです。
                                br
                                | 「Intel Core i●」とか、「AMD Ryzen」とか書いてあるやつを選ぶと、これからも長く使えると思います。
                            h3 ネット環境
                            hr
                            p
                                | Webページを作るので、ネット環境は必要です。
                                br
                                | 参考となる情報を調べるのにも使います。
                                br
                                | 無線LANでも大丈夫です。
                                br
                                | このページが見れていたら大丈夫です。
                            h3 ブラウザー
                            hr
                            p
                                | Webページを見るアプリです。
                                br
                                | Macの人ならSafari、Windowsの人ならEdgeがデフォルトで入っています。
                                br
                                | 個人的な意見ですが、FireFoxというブラウザが便利です。
                                br
                                | FireFoxは以下のリンクからダウンロードできます。
                                br
                                div.download
                                    a(href="https://www.mozilla.org/ja/firefox/new/")
                                        img.social_icon(src="/assets/image/icon/firefox/firefox.png" alt="firefox")
                        h2 あると良いもの
                        hr
                        .space
                            h3 参考書
                            hr
                            p
                                | Amazonなどにいろいろありますが、わかりやすいものを下に並べておきます。
                                br
                                iframe(style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=zoi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=4797395249&linkId=d9ef9acaa83511762a3457e9bdd14598&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr")
                                iframe(style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=zoi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=4797398892&linkId=def1d4948380200cc2d33eb7c35fea1b&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr")
                                iframe(style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=zoi-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=4797388544&linkId=fe6cc03946c4118c08c88a0df2ce44d2&bc1=000000&lt1=_blank&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr")

                                // div.download
                                    a(href="https://www.mozilla.org/ja/firefox/new/")
                                        img.social_icon(src="/assets/image/icon/firefox/firefox.png" alt="firefox")
                            h3 作りたいもの
                            hr
                            p
                                | 曖昧でもいいのであるとやる気が出ます。
                    // .center
                        iframe(src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=13&l=ez&f=ifr&linkID=2c67c56fec53ad3ce6c02825388255b2&t=zoi-22&tracking_id=zoi-22" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0")
                .blog-footer
                    .left
                        a(href="/Programming/HTML/1/1/").btn.btn-outline-primary 前の記事へ
                    span
                        a(href="/Programming/HTML/").btn.btn-outline-primary メニューへ戻る
                    .right
                        a(href="/Programming/HTML/1/3/").btn.btn-outline-primary 次の記事へ
                    span.clear

    include ../../../../assets/pages/footer.pug